* {
  outline: black dotted 1px;
}

body {
  background-color: grey;
  max-width: 960px;  
}

header {
  background-color: black;
  position: relative;
}

.icon-menu:before {
  color: green;
  position: absolute;
  top: 5px;
  right: 10px;
}

section {
  height: 250px;
}
