body {
  background-color: grey;
  max-width: 960px;  
}

header {
  background-color: black;
  position: relative;
}

h1 {
  color: green;
}

.icon-menu:before {
  color: green;
  position: absolute;
  top: 5px;
  right: 10px;
}

#book-list {
  text-align: center;
  margin-top: 20px;
}
/* 
section.book-picture img {
  outline: blue solid 2px;
  position: relative;
}

secton.button#1 {
  outline: 2px dotted blue;
}


.book-info button {
  position: absolute;
  right: 20px;
  outline: 5px dotted blue;
} */